@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Playfair+Display:ital,wght@0,400;0,500;0,800;1,400;1,500;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.08em;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: 'Playfair Display', serif;
  }
}

.font-lato {
  font-family: 'Lato', sans-serif;
}

.font-lato-300 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.font-lato-400 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.font-lato-700 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.font-lato-900 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}

.font-playfair-500 {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}

.hero-p-2,
.hero-p-3 {
  padding-bottom: 1rem;
}

.hero-p {
  font-weight: 700;
}

.hero-p-4 {
  text-align: center;
  padding-bottom: 2rem;
}
